<div *ngIf="data" class="modal width_90_per" tabindex="-1" role="dialog" style="display:block!important">  
    <div class="modal-dialog modal-xl " role="document"  >  
        
      <div class="modal-content px-4">
       
        <div class="modal-header" style="padding-bottom: 0;padding-top: 2rem;">
          <h5 class="modal-title dlg-title-h5" id="exampleModalLabel"><i class="fa fa-phone c_green "></i> {{dealerName}}</h5>
          <button type="button" class="btn-close" style="margin: -3.5rem -1.5rem -0.5rem auto;" data-bs-dismiss="modal" aria-label="Close"  (click)="data.noFn()"></button>
        
          
        </div>
        <div class=""> 
          <p class="c_gray " style="padding-left: 20px;font-size: 16px;">{{lastCallDateTime  | date:'dd MMM yyyy'}} | {{lastCallDateTime  | date:'HH:mm'}}  | Call ID:{{lastCallId}}
          <span class="float-end" style="color:#000;font-weight: 400;"><input type="checkbox" [(ngModel)]="dealerExclusive" name="dealerExclusive" (change)="updateDealerExclusive()">&nbsp;&nbsp;Dalmia Exclusive counter</span></p>
           
        </div>
        
        <div class="modal-body" style="padding-right: 10px;">
          <form name="form"  #f="ngForm"  autocomplete="off">
            <div class="row border-bottom" >
              <nav class="nav p-2">
                <a *ngFor="let list of mainProducts;let indexOfelement=index;"  (click)="selectProduct(indexOfelement)" class="btn btn-bordered1 mx-2" [ngClass]="{'btn-bordered1active': indexOfelement==this.selectedIndex }"  aria-current="page" >  {{list.productName}}</a>
              </nav>
            </div> 
            <div class="row">

                 <table class="pc">
                   <thead>
                     <tr style="text-align:center;color: #00000099;height:40px;">
                       <th style="width:20%">Select Brand/Company   </th>
                       <th  style="width:20%"> Select Product </th>
                       <th  style="width:10%">  Select Dlr/Sdlr  </th>
                       <th style="width:8%"> Stock in bags </th>
                       <th style="width:7%"> WSP </th>
                       <th style="width:10%"> RSP </th>
                       <th style="width:10%"> Billing </th>
                       <th style="width:10%"> Price Dis. </th>
                     </tr>
                   </thead>
                   <tbody *ngFor="let d of priceComparisionData;let i=index; ">
                     <tr *ngIf="d.ShowRow==1 && d.showProduct==1">
                        <td><input type="text" disabled class="form-control" name="company_{{i}}"  [(ngModel)]="d.Company" ></td>
                        <td><input type="text" disabled class="form-control" name="product_{{i}}"  [(ngModel)]="d.Product" ></td>
                        <td><select [ngClass]="{'input-box-style2-error': d.isError}" class="form-select rounded-1" [(ngModel)]="d.DealerType" name="dealertype_{{i}}" (change)="validateData(false)"><option value="">Select</option><option value="Dealer">Dealer</option><option value="SubDealer">SubDealer</option></select></td>
                        <td><input type="text" class="form-control" name="stock_{{i}}"  [(ngModel)]="d.Stock" numbersOnly></td>
                        <td><input type="text" class="form-control" name="wsp_{{i}}"  [(ngModel)]="d.WSP" numbersOnly (change)="validateData(false)"></td>
                        <td><input type="text" class="form-control" name="rsp_{{i}}"  [(ngModel)]="d.RSP" numbersOnly (change)="validateData(false)"></td>
                        <td><input type="text" class="form-control" name="billing_{{i}}"  [(ngModel)]="d.Billing" numbersOnly></td>
                        <td><input type="text" class="form-control" name="discount_{{i}}"  [(ngModel)]="d.Discount" numbersOnly></td>
                     </tr>
                   </tbody>
                 </table>
              </div>
              <div class="row mt-2" >
                <div class="col-md-10">
                  <p>NOTE: 1) WSP & RSP are basis FOR price. <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) Either of WSP or RSP price capture is mandatory              </p>
                </div>
                <div class="col-md-2 text-right" style="padding-right: 5px !important"><button class="btn btn-primary " type="submit" (click)="validateData(true)" >Save</button></div>
              </div>
              <div class="row " *ngIf="showDealearValidationMsg">
                 
                <div class="col-md-12 text-right" style="padding-right: 5px !important;color:#B00020;font-size:14px;font-weight:700"><p><i class="fa fa-exclamation-circle" style="padding-right:6px;"></i>Dealer/Sub-Dealer selection is mandatory if WSP or RSP is captured</p></div>
              </div>
              
          </form>
             </div>
      </div>  
    </div>
</div>  
